.memberContainer {
  display: flex;
  padding-bottom: 20px;
  overflow: hidden;
  flex-direction: column;
}

@media screen and (min-width: 1024px) {
  .memberContainer {
    justify-content: center;
    padding-bottom: 40px;
    flex-direction: row;
  }
}
