.album {
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}

.imageWrapper {
  overflow: hidden;
  width: calc(50vw - 1em / 2);
  height: calc(50vw - 1em / 2);
}

.imageWrapper img {
  transition: transform 400ms;
  height: 100%;
}
.imageWrapper img:hover {
  transform: scale(1.1);
}

@media screen and (min-width: 768px) {
  .imageWrapper {
    width: calc((100vw - 4em) / 5);
    height: calc((100vw - 4em) / 5);
  }
}

@media screen and (min-width: 1024px) {
  .album {
    padding: 40px 0;
  }
  .imageWrapper {
    width: calc((100vw - 5em) / 6);
    height: calc((100vw - 5em) / 6);
  }
}

@media screen and (min-width: 1280px) {
  .imageWrapper {
    width: calc((100vw - 7em) / 8);
    height: calc((100vw - 7em) / 8);
  }
}
