.about {
  text-align: center;
}

.detail {
  composes: article from '@css/typography.css';
  line-height: 1.75em;
  text-align: justify;
  width: 70%;
  margin: 1em auto;
  margin-bottom: 3em;
}
.imageContainer {
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}

.imageWrapper {
  overflow: hidden;
  width: calc(50vw - 1em / 2);
  height: calc(50vw - 1em / 2);
}

.imageWrapper img {
  transition: transform 400ms;
  height: 100%;
}
.imageWrapper img:hover {
  transform: scale(1.1);
}

.services {
  composes: article from '@css/typography.css';
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  line-height: 1.75em;
}

.serviceItem {
  padding: 2em;
}

.serviceItem:last-child {
  padding-bottom: 3em;
}

.serviceItem h3 {
  color: black;
}

.icon {
  width: 50px;
}

@media screen and (min-width: 768px) {
  .imageWrapper {
    width: calc((100vw - 4em) / 5);
    height: calc((100vw - 4em) / 5);
  }

  .detail {
    width: 50%;
    margin-bottom: 4em;
  }

  .serviceItem p {
    width: 60%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1024px) {
  .imageContainer {
    padding: 40px 0;
  }
  .imageWrapper {
    width: calc((100vw - 5em) / 6);
    height: calc((100vw - 5em) / 6);
  }

  .services {
    flex-direction: row;
    justify-content: center;
  }

  .serviceItem {
    flex-basis: 300px;
    padding: 3em;
  }

  .serviceItem p {
    width: 100%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1280px) {
  .imageWrapper {
    width: calc((100vw - 7em) / 8);
    height: calc((100vw - 7em) / 8);
  }
}
