.about {
  text-align: center;
}

.detail {
  composes: article from '@css/typography.css';
  line-height: 1.75em;
  text-align: justify;
  width: 70%;
  margin: 1em auto;
  margin-bottom: 3em;
}

.service {
  composes: article from '@css/typography.css';
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  line-height: 1.75em;
}

@media screen and (min-width: 768px) {
  .detail {
    width: 50%;
    margin-bottom: 4em;
  }
}

@media screen and (min-width: 1024px) {
  .service {
    flex-direction: row;
    justify-content: center;
  }
}
