.about {
  text-align: center;
}
.imageContainer {
  width: 100%;
  padding: 40px 0;
  overflow: hidden;
  white-space: nowrap;
}

.imageWrapper {
  overflow: hidden;
  width: 50%;
  height: 50vw;
  display: inline-block;
}

.imageWrapper:nth-of-type(n + 2) {
  padding-left: 1.5em;
}

.detail {
  composes: article from '@css/typography.css';
  line-height: 1.75em;
  text-align: justify;
  width: 50%;
  margin: 1em auto;
  margin-bottom: 4em;
}

.imageContainer img {
  height: 100%;
  transition: transform 400ms;
}
.imageContainer img:hover {
  transform: scale(1.1);
}

.services {
  composes: article from '@css/typography.css';
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.75em;
}

.serviceItem {
  /* margin: 0 auto; */
}

.serviceItem h3 {
  color: black;
}

.icon {
  width: 50px;
}

@media screen and (min-width: 768px) {
  .imageWrapper {
    width: calc(100vw / 5);
    height: calc(100vw / 5);
  }
}

@media screen and (min-width: 1024px) {
  .imageWrapper {
    width: calc(100vw / 6);
    height: calc(100vw / 6);
  }

  .services {
    flex-direction: row;
    justify-content: center;
  }

  .serviceItem {
    flex-basis: 300px;
    padding: 3em;
  }
}

@media screen and (min-width: 1280px) {
  .imageWrapper {
    width: calc((100vw - 11.5em) / 8);
    height: calc((100vw - 11.5em) / 8);
  }
}
