.header {
  white-space: nowrap;
  text-align: center;
  position: relative;
  color: white;
  position: fixed;
  width: 100%;
  z-index: 1;
}
.logo {
  display: inline-block;
  position: absolute;
  left: 50px;
  top: 50%;
  transform: translateY(-50%);
}
