@value primary from '@css/colors.css';
.menuItem {
  composes: secondaryFont from '@css/typography.css';
  -webkit-font-smoothing: antialiased;
}

.item {
  padding: 0.5em 1.25em;
  text-align: left;
  cursor: pointer;
  transition: transform 300ms;
}

.item:hover {
  transform: translateX(10px);
  color: primary;
}

.desktop {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.item:first-of-type {
  padding-top: 1em;
}

.item:last-of-type {
  padding-bottom: 1em;
}
