.navigation {
  position: absolute;
  width: 100vw;
  background-color: white;
  right: -20px;
  top: 40px;
  color: black;
  text-align: left;
}

.navMobile {
  display: inline-block;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  display: none;
}

.navItem {
  padding: 0.5em 0;
  padding-left: 1em;
}

@media screen and (max-width: 768px) {
  .navMobile {
    display: block;
  }
}
