.container {
  padding: 20px 0;
  text-align: center;
}

.title {
  font-weight: 700;
  margin: 0.25em;
  font-size: 1.5em;
}

.description {
  composes: article from '@css/typography.css';
  font-style: italic;
  letter-spacing: 0.05em;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 40px 0;
  }

  .title {
    margin: 0.5em;
    font-size: 2em;
  }
}
