@value primary , secondary from '@css/colors.css';

.info {
  margin: 0 auto;
  position: relative;
  text-align: center;
  width: 70%;
}

.header {
  composes: headline from '@css/typography.css';
  margin: 0;
}

.description {
  composes: caption from '@css/typography.css';
  padding: 3em 0;
  margin: 0;
  color: white;
}

.transitionGroup {
  position: relative;
  height: inherit;
}

.slider {
  height: inherit;
  position: relative;
  overflow: hidden;
}

.moreInfo {
  display: inline-block;
}

button.moreInfo {
  padding: 0.75em 2em;
  border-radius: 3px;
  background-color: primary;
  color: white;
  border-color: primary;
  letter-spacing: 0.1em;
}

.enterLeft {
  transform: translate(100%, 0);
}

.enterRight {
  transform: translate(-100%, 0);
}

.enterActive {
  transition: all 2000ms;
  transform: translate(0, 0);
}

.exitActiveLeft {
  transition: all 2000ms;
  transform: translate(-100%, 0%);
}
.exitActiveRight {
  transition: all 2000ms;
  transform: translate(100%, 0%);
}
