.info {
  margin: 0 auto;
  position: relative;
  text-align: center;
}

.transitionGroup {
  position: relative;
  height: inherit;
}

.slider {
  height: inherit;
  position: relative;
}

.moreInfo {
  display: inline-block;
  margin-bottom: 20px;
}

.moreInfo button {
  padding: 0.75em 2em;
  border-radius: 3px;
  background-color: rgb(204, 190, 156);
  color: white;
  font-size: 0.5em;
  border-color: rgb(204, 190, 156);
  font-weight: 500;
  letter-spacing: 0.1em;
}

.enterLeft {
  transform: translate(100%, 0);
}

.enterRight {
  transform: translate(-100%, 0);
}

.enterActive {
  transition: all 2000ms;
  transform: translate(0, 0);
}

.exitActiveLeft {
  transition: all 2000ms;
  transform: translate(-100%, 0%);
}
.exitActiveRight {
  transition: all 2000ms;
  transform: translate(100%, 0%);
}

/* .exit {
  transform: translate(-100%, 0%);
} */
