.container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  color: white;
  justify-content: space-evenly;
}

.arrow {
  flex-basis: 10%;
  /* text-align: center; */
  transition: all 0.5s;
}

.arrow:last-of-type {
  text-align: right;
}

.arrow:hover {
  opacity: 0.4;
}

.container .arrow:first-of-type:hover {
  transform: translateX(-5px);
}
.container .arrow:last-of-type:hover {
  transform: translateX(5px);
}
.center {
  flex-basis: 60%;
}

.button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
}
