.container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  color: white;
  justify-content: space-evenly;
}

.arrow {
  font-size: 0.5em;
  transition: all 0.5s;
}

.arrow:last-of-type {
  text-align: right;
}

.arrow:hover {
  opacity: 0.4;
}

.container .arrow:first-of-type:hover {
  transform: translateX(-5px);
}
.container .arrow:last-of-type:hover {
  transform: translateX(5px);
}
.center {
  flex-basis: 70%;
}

.button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
}

@media screen and (min-width: 768px) {
  .center {
    flex-basis: 60%;
  }

  .arrow {
    font-size: 1em;
  }
}
