.footerItem {
  margin: 1em 2em;
}

.list {
  position: relative;
  padding: 0;
  line-height: 22px;
  composes: secondaryFont from '@css/typography.css';
  /* font-weight: 100; */
}

.list li {
  position: relative;
}

.footerItem img {
  width: 24px;
  display: inline-block;
  position: absolute;
  left: -32px;
  fill: grey;
}

.footerItem a {
  color: lightgrey;
  padding: 0 0.5em;
}
