@value primary from '@css/colors.css';

.footer {
  text-align: center;
  background-color: #444;
  color: white;
  padding: 20px 0;
  width: 100%;
}

.itemContainer {
  display: flex;
  justify-content: space-between;
  text-align: left;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}

.itemContainer li {
  display: block;
  margin: 0;
  padding: 0.2em 0;
}

@media screen and (min-width: 768px) {
  .footer {
    padding: 40px 0;
  }
  .itemContainer {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1280) {
  .itemContainer {
    justify-content: center;
    width: 100%;
  }
}
