@value primary from '@css/colors.css';

.container {
  width: 70%;
  height: 550px;
  display: flex;
  margin: 1em auto;
  box-shadow: 0 6px 30px 0 rgba(0, 0, 0, 0.2);
  flex-direction: column;
}

.container:hover .content h3 {
  color: primary;
}

.imageContainer {
  flex-basis: 80%;
  overflow: hidden;
  position: relative;
}

.mask {
  position: absolute;
  width: 100%;
  transition: opacity 200ms;
  opacity: 0;
}

.mask:hover {
  background-color: black;
  opacity: 0.4;
  z-index: 2;
}

.image {
  width: 100%;
}

.content {
  /* flex-basis: 50%; */
  composes: article from '@css/typography.css';
  padding: 0 2em;
  padding-bottom: 2em;
  /* box-sizing: border-box; */
}

.content h3 {
  color: black;
  transition: color 200ms;
}

.content p {
  margin-top: 0;
  word-spacing: 0.25em;
}

@media screen and (min-width: 768px) {
  .container {
    width: 35vw;
    margin: 1em;
  }

  .mask {
    height: 100%;
  }
}
@media screen and (min-width: 1028px) {
  .container {
    width: 23vw;
    height: 16vw;
    margin: 1em;
    flex-direction: row;
  }

  .imageContainer {
    flex-basis: 50%;
    height: 100%;
  }

  .content {
    flex-basis: 50%;
    padding: 0 2em;
    box-sizing: border-box;
  }
}
