.container {
  width: 23vw;
  height: 18vw;
  display: flex;
  margin: 1em;
  box-shadow: 0 6px 30px 0 rgba(0, 0, 0, 0.2);
}

.image {
  flex-basis: 50%;
  height: 100%;
  background-color: grey;
  background-position: center;
  background-size: cover;
  background-image: url('https://images.unsplash.com/photo-1414609864700-370eff277018?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d3f7c81dcbbfa0d813ad2868b1704193&auto=format&fit=crop&w=1500&q=80');
}

.image:hover::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.3;
}

.content {
  flex-basis: 50%;
  composes: article from '@css/typography.css';
  padding: 0 2em;
  box-sizing: border-box;
}

.content h3 {
  color: black;
}

.content p {
  margin-top: 0;
  word-spacing: 0.25em;
}
