@value primary from '@css/colors.css';

.card {
  width: 80%;
  display: flex;
  margin: 1em auto;
  box-shadow: 0 6px 30px 0 rgba(0, 0, 0, 0.2);
  flex-direction: column;
}

.card:hover .title {
  color: primary;
}

.card:hover .mask {
  background-color: black;
  opacity: 0.3;
  z-index: 2;
}

.card:hover .category {
  color: black;
}

.imageWrapper {
  flex-basis: 80%;
  overflow: hidden;
  position: relative;
}

.mask {
  position: absolute;
  width: 100%;
  transition: opacity 200ms;
  opacity: 0;
}

.image {
  width: 100%;
}

.category {
  margin-top: 2em;
  font-weight: 400;
  color: primary;
  transition: color 200ms;
}

.category div {
  display: inline-block;
  padding-right: 1em;
}

.content {
  composes: article from '@css/typography.css';
  padding: 0 2em;
  padding-bottom: 2em;
  font-size: 1em;
  line-height: 1.5em;
}

.title {
  color: black;
  transition: color 200ms;
}

.time {
  text-decoration: underline;
}

.article {
  margin-top: 0.5em;
  word-spacing: 0.25em;
}

@media screen and (min-width: 768px) {
  .card {
    width: 40vw;
    margin: 1em;
    height: 100%;
  }

  .mask {
    height: 100%;
    width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .card {
    flex-direction: row;
    height: 40vw;
    margin: 1em 0;
  }

  .imageWrapper {
    /* flex: 0 0 45%; */
    height: 100%;
  }

  .content {
    flex: 0 0 50%;
    padding: 0 1.5em;
  }
  .image {
    height: 100%;
    width: auto;
  }
}
@media screen and (min-width: 1280px) {
  .card {
    flex: 0 0 30vw;
    height: 20vw;
    margin: 1em;
  }

  /* .image {
    height: auto;
    width: auto;
  } */
}
