@value secondary , primary from  "@css/colors.css";

.tripCard {
  width: 80vw;
  height: 100%;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
  transition: transform 500ms, box-shadow 500ms;
  text-align: center;
  margin: 1em auto;
}
.tripCard:hover {
  transform: translateY(-15px);
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.5);
}

.name {
  margin: 0 2.5em;
  padding: 1em 0;
  border-top: 1px solid secondary;
  border-bottom: 1px solid secondary;
  font-size: 1em;
}

.description {
  padding-bottom: 1em;
}

.description div {
  padding: 0.2em 1.5em;
}

.description h3 {
  color: primary;
  margin: 0.5em;
  font-size: 1em;
}

.unit {
  composes: article from '@css/typography.css';
  font-size: 0.9em;
}

.location {
  margin: 1em 0;
  composes: article from '@css/typography.css';
}
.location span {
  display: block;
}

.site {
  color: black;
}

.country {
  font-size: 0.9em;
  padding: 1em 0;
}

.imageContainer {
  width: 100%;
  height: 200px;
  overflow: hidden;
}
.image {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .description {
    padding: 5% 0;
  }

  .description div {
    display: inline-block;
  }

  .description h3 {
    font-size: 1.5em;
  }

  .name {
    margin: 0 3em;
    padding: 1em 0;
    font-size: 1.25em;
  }
  .imageContainer {
    height: 300px;
  }
}
@media screen and (min-width: 1024px) {
  .tripCard {
    width: 40vw;
    /* margin: 1em; */
    margin: 1em 0;
  }
}

@media screen and (min-width: 1280px) {
  .tripCard {
    width: 24vw;
  }
}
